{% extends 'layout.html' %}

{% block content %}

<style>
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
</style>

<div class="container-content" style="margin-left: 200px; margin-right: 200px; margin-top: 65px;"> 

    <div class="card mb-3" style="background-color: #87805E; margin-top: 100px; border-color: gray;" data-aos="fade-right"  data-aos-duration="3000">
        <img src="../static/images/demo/convol1.png" class="card-img-top" alt="covol-cover">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Oswald'">Detección de objetos</h5>
            <p class="card-text" style= "font-family: 'Arimo';" >Los algoritmos de detección de objetos son técnicas de visión por computadora que pueden identificar y localizar automáticamente objetos de interés en imágenes o videos. Pueden tener diversas aplicaciones en la conservación de la vida silvestre, la investigación y el monitoreo, como la detección de jaguares en imágenes de cámaras trampa.</p>
            <a href="objectdet/" class="btn btn-dark" style= "font-family: 'Arimo';">Pruebame</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary" style="font-style: italic;">Ultima version</small>
        </div>
    </div>

    <div class="card mb-3" style="background-color: #87805E; margin-top: 85px; border-color: gray;" data-aos="fade-right"  data-aos-duration="3000">
        <img src="../static/images/demo/other.png" class="card-img-top" alt="other">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Oswald'">Titulo</h5>
            <p class="card-text" style="font-family: 'Arimo'">Explicacion de uso</p>
            <a href="#" class="btn btn-dark">Pruebame</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary" style="font-style: italic;">Ultima Version</small>
        </div>
    </div>

    <div class="card mb-3" style=" background-color: #87805E; margin-top: 85px; border-color: gray;" data-aos="fade-right"  data-aos-duration="3000">
        <img src="../static/images/demo/identification.png" class="card-img-top" alt="identification">
        <div class="card-body">
            <h5 class="card-title" style="font-family: 'Oswald'">Titulo</h5>
            <p class="card-text" style="font-family: 'Arimo'">Explicacion de uso</p>
            <a href="#" class="btn btn-dark">Pruebame</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary" style="font-style: italic;">Ultima version</small>
        </div>
    </div>

</div>
<!-- 
<div class="card-group" style="padding-top: 60px; padding-right: 30px; padding-left: 30px;">
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Lastest Version</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Lastest Version</small>
        </div>
    </div>
    <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Lastest Version</small>
        </div>
    </div>
</div>
-->
{% endblock %}